/*----------------------------------------------*/
/**  Styles de la page Home                     */
/*----------------------------------------------*/

/* conteneur du corps de page */
.pageWrapper {
    margin-top: 63px;
}
/* slogan intégré dans la bannière */
.slogan {
    width: 79%;
    color: var(--SecondaryColor);
    font-weight: 500;
    font-size: 48px;
}
/* conteneur des cartes appartements */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 340px;
    column-gap: 60px;
    justify-content: center;
    row-gap: 50px;
    background-color: var(--LightBackgroundColor);
    padding: 56px 50px;
    margin: 43px auto;
    border-radius: 25px;
}

/** affichage tablette **************************/
@media screen and (max-width: 1224px) {
    /* slogan intégré dans la bannière */
    .slogan {
        font-size: 36px;
    }
    /* conteneur des cartes appartements */
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;      
    }
}

/** affichage smartphone ************************/
@media screen and (max-width: 768px) {
    /* conteneur du corps de page */
    .pageWrapper {
        margin-top: 16px;
    }
    /* slogan intégré dans la bannière */
    .slogan {
        width: 217px;
        font-size: 24px;
        line-height: 100%;
    }
    /* conteneur des cartes appartements */
    .gallery {
        grid-template-columns: 1fr;
        grid-auto-rows: 255px;
        row-gap: 20px;
        background-color: var(--SecondaryColor);
        padding: 0;
        margin: 22px auto;
        border-radius: 0;      
    }
}
