/*----------------------------------------------*/
/**  Styles du composant Card                   */
/*----------------------------------------------*/

/* conteneur de la carte */
.cardWrapper {
    width: 100%;
    height: 100%;
    max-width: 340px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%) 
        var(--PrimaryColor);
    border-radius: 10px;
}
/* lien vers la page Flat */
.cardLink {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
/* contenu de la carte */
.cardContent {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
/* image de la carte */
.cardImageWrapper {
    width: 100%;
    height: 69.12%;  
}
.cardImage {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;  
}
/* titre de la carte */
.cardTitle {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px 20px;
    font-size: 18px;
    color: var(--SecondaryColor);  
}

/** affichage smartphone ************************/
@media screen and (max-width: 768px) {
    /* conteneur de la carte */
    .cardWrapper {
        max-width: 335px;
    }
    /* titre de la carte */
    .cardTitle {
        padding: 0 19.71px 15px;
    }
}