/*----------------------------------------------*/
/**  Styles de la page Error                    */
/*----------------------------------------------*/

/* conteneur du corps de page */
.pageWrapper {
    margin: 169px 0 0 22px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
/* titre de la page, numéro d'erreur */
.errorNumber {
    margin-bottom: 36px;
    font-size: 288px;
    font-weight: 700;  
}
/* message d'erreur */
.errorMessage {
    margin-bottom: 182px;
    font-size: 36px;
    font-weight: 500; 
}
/* lien vers la page Home */
.backHomeLink {
    margin: 0 0 159px 0;
    font-weight: 500;
}

/** affichage tablette **************************/
@media screen and (max-width: 1224px) {
    /* titre de la page, numéro d'erreur */
    .errorNumber {
        font-size: 192px;
    }
    /* message d'erreur */
    .errorMessage {
        font-size: 24px;
    }
}

/** affichage smartphone ************************/
@media screen and (max-width: 768px) {
    /* conteneur du corps de page */
    .pageWrapper {
        margin: 195px auto 0;
    }
    /* titre de la page, numéro d'erreur */
    .errorNumber {
        margin-bottom: 11px;
        font-size: 96px;    
    }
    /* message d'erreur */
    .errorMessage {
        width: 77.61%;
        margin-bottom: 133px;
        font-size: 18px;
        text-align: center;    
    }
    /* lien vers la page Home */
    .backHomeLink {
        margin: 0 0 235px 0;
        font-size: 14px;
    }
}